<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>글 등록</title>
    <style>
        .wrapper{
            width: 500px;
            border: 2px solid blue;
            background: #fffa04;
            margin: auto;
            text-align: center;
        }
        .wrapper input, textarea{
            width: 98%;
            margin-bottom: 2px;
        }
        textarea{
            height: 300px;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        $(function(){
            $("button").click(function(){
                regist();
            });
            function regist(){
                window.document.form1.action = "/regist"; //등록 요청
                form1.submit();
            }
        });
    </script>
</head>
<body>
<div class="wrapper">
    <form name="form1" method="post">
        <div>
            <input type="text" placeholder="작성자입력" name="writer">
        </div>
        <div>
            <input type="text" placeholder="제목입력" name="title">
        </div>
        <div>
            <textarea name="content"></textarea>
        </div>
        <div>
            <button>등록</button>
        </div>
    </form>
</div>
</body>
</html>